<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2-debug</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
      <main>
        <% if user_signed_in? %>
          <%= form_with url: finder_path, method: :get, local: :true do |f| %>
            <%= f.select :range, options_for_select([['User'], ['Book']]) %>
            <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["部分一致","partial_match"]]) %>
            <%= f.text_field :word %>
            <%= f.submit "検索" %>
          <% end %>
        <% end %>
         <%= yield %>
        <p id="notice"><%= notice %></p>
      </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
